@model ChangePasswordVM

@{
    ViewData["Title"] = "Change Password";
    Layout = "_Layout";
}

<div class="py-4">

    <div class="row form-group">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-body px-lg-5 pt-4">
                    <form method="post">
                        <h3 class="col-12 text-success text-center py-4">

                            <strong>Change Password</strong>

                        </h3>
                        <hr/>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                        <div class="py-2">
                            <input asp-for="CurrentPassword" placeholder="Current Password" type="password" class="form-control"/>
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>


                        <div class="  py-2">

                            <input asp-for="NewPassword" placeholder="New Password" type="password" class="form-control"/>

                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class=" py-2">

                            <input asp-for="ConfirmPassword" placeholder="Confirm Password" type="password" class="form-control"/>

                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="py-2">

                            <button type="submit" class="btn btn-primary form-control">Change Password</button>

                        </div>
                        <div class="py-2 text-center">

                            <h6 >OR</h6>
                        </div>
                        <div class=" py-2">

                            <a asp-action="ForgotPassword" class="btn btn-outline-success form-control">Forgot Password</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}