@model string
@{
    ViewData["Title"]  = "Forgot Password Confirm";
    Layout = "_Layout";
}
<br>
<br>
<br>
<div class="text-center">
<h7>
    please check your email @Model to reset your password     <br>

</h7>
    <br>
<a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">
    Back to shopping
</a>
</div>