@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> _signInManager
@{
    ViewData["Title"] = "Reset Password Confirm";
    Layout = "_Layout";
}
<br>
<br>
<br>

<h5 class="text-center">
    Your password is reset. Please click
    @if (_signInManager.IsSignedIn(User))
    {
        <a asp-controller="Home" asp-action="Index"> here to back</a>
    }
    else
    {
        <a asp-action="Login"> here to login</a>
    }

</h5>